.Chat {
    display: flex;
    flex-direction: column;
    height: 91vh;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
}

.message {
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 20px;
    max-width: 60%;
    font-size: 18px;
    word-wrap: break-word;
    position: relative;
    text-align: justify; /* Justifica el texto dentro del mensaje */
}

/* Ajustar la alineación de los mensajes de usuario y bot */
.message.user {
    background-color: #DCF8C6;
    align-self: flex-end;
    border-bottom-right-radius: 0; /* Punta del globo */
}

.message.bot {
    background-color: #E5E5EA;
    align-self: flex-start;
    border-bottom-left-radius: 0; /* Punta del globo */
}

/* Triángulo en la parte inferior izquierda para el bot */
.message.bot::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-color: #E5E5EA transparent transparent transparent;
}

/* Triángulo en la parte inferior derecha para el usuario */
.message.user::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-color: #DCF8C6 transparent transparent transparent;
}

.input-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background: #fff;
    position: fixed; /* Fija el formulario */
    bottom: 0; /* Lo mantiene al fondo */
    width: 100%; /* Se asegura de ocupar todo el ancho */
}

.input-form input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
}

.input-form button {
    padding: 10px 20px;
    background-color: #49BA81;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-form button:hover {
    background-color: #197d4b;
}

/* Animación fade-in */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
/* Animación que se aplicará al enviar un nuevo mensaje */
.message {
    animation: fadeIn 0.4s ease-out;
}
