.footer {
    font-family: 'Kufam', sans-serif; /* Establece la fuente a Krub */
    text-align: center; /* Centra el texto */
    background-color: #FFFF; /* Fondo transparente */
    padding: 10px; /* Espaciado interno */
    color: #333; /* Color del texto, puedes cambiarlo según tu diseño */
    position: relative; /* Posiciona el footer relativo */
    bottom: 0; /* Asegúrate de que el footer esté al fondo si es necesario */
    width: 100%; /* Asegúrate de que el footer ocupe todo el ancho */
}

