.main-view-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 0 5%; /* Añadimos padding lateral para centrar mejor */
    box-sizing: border-box; /* Aseguramos que el padding no afecte el tamaño total */
}

.text-section {
    width: 45%;
    text-align: left;
}

.carousel-section {
    width: 50%;
}

.cta-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #0056b3;
}

.legend {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
