.main-view-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Mantén flex-start para alinear hacia la parte superior */
    height: 100vh;
    padding: 0 5%; /* Padding lateral para centrar mejor */
    box-sizing: border-box;

    /* Fondo gradiente */
    background: rgb(16,19,47);
    background: linear-gradient(180deg, rgba(16,19,47,1) 0%, rgba(0,212,255,1) 68%, rgba(250,250,250,1) 96%);
    
    position: relative; /* Para añadir elementos superpuestos como una capa de opacidad */
}

.text-section {
    width: 45%;
    text-align: left;
    z-index: 1; /* Asegura que el texto esté sobre el fondo */
    color: #ffffff;
    margin-top: 40px; /* Ajusta este valor para mover el texto hacia abajo */
}

.text-section h1 {
    font-size: 5em;
    margin-bottom: 20px;
    font-family: 'Kufam', sans-serif;
}

.text-section p {
    font-size: 1.3em;
    margin-bottom: 20px;
}
.carousel-section {
    width: 50%;
    z-index: 1; /* Asegura que el carrusel esté sobre el fondo */
    margin-top: 60px; /* Ajusta este valor para mover el carrusel hacia abajo */
}

.text-section-move-down {
    margin-top: 170px; /* Clase personalizada para mover la sección de texto hacia abajo */
}

.carousel-section-move-down {
    margin-top: 100px; /* Clase personalizada para mover la sección del carrusel hacia abajo */
}

.start-button {
    background-color: #b7f2d3;
    color: black;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-family: 'Krub', sans-serif;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega transición */

}
.start-button:hover {
    background-color: #3EA770; /* Color de fondo al hacer hover */
}