.thematic-units-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .thematic-inits-title {
    display: flex;
    justify-content: center;
  }
  
  .unit-card {
    margin-bottom: 20px;
  }
  
  .unit-card h3 {
    margin-top: 0;
  }
  
  .topics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .topic-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .topic-card h4 {
    margin: 0;
  }
  
  .topic-card p {
    margin: 5px 0 0 0;
  }