.tools-container {
  padding-top: 150px; /* Mueve las tarjetas hacia abajo para mayor separación respecto al título */
  text-align: center;
}

.tools-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px; /* Aumenta el espacio entre las tarjetas */
  padding: 0;
  list-style-type: none;
}

.tools-card {
  position: relative;
  width: 350px; /* Aumenta el tamaño de las tarjetas */
  height: 350px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  cursor: pointer;
}

.tools-card:hover {
  transform: scale(1.05);
}

.tools-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.tools-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 15px;
}

.tools-card:hover .tools-card__overlay {
  opacity: 1;
}

